@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@500;600;700;800;900&display=swap");

:root {
  --main-color: #0050A3;
  --white: #fff;
  --black: #000000;
  --secon-color: #078998;
  --gray-color: #2a2a2a;
  --text-color: #b1b1b1;
}

* {
  font-family: 'Tajawal', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  direction: rtl;
  background: #FDFFFD !important;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: middle;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

.form-control,
.form-control:focus {
  padding: 1rem;
  border: 1px solid #c8c8c8;
  border-radius: 8px;
  box-shadow: none;
  outline: 0;
  margin: 1.5rem 0;
}
img {
  width: 100%;
}
i,
svg {
  line-height: 0;
}

.btn,
.btn:focus {
  outline: none;
  box-shadow: none;
}
::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
.cut-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.nice-select {
  width: 100%;
  color: #4E4E4E;
}

.nice-select .list {
  width: 100%;
}

.nice-select {
  border: none;
}
.nice-select:after {
  margin-top: 0;
}

.nice-select, .nice-select .list li {
  text-align: right !important;
  padding-right: 8px;
  padding-left: 50px;
}

.nice-select:after {
  right: unset;
  left: 12px;
}

.form-select:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#scroll-top {
  position: fixed;
  bottom: 60px;
  right: 60px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--white);
  background-color: var(--main-color);
  font-size: 22px;
  line-height: 2px;
  vertical-align: middle;
  z-index: 98;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
#scroll-top.show {
  visibility: visible;
}

section{
  margin-top: 80px;
}
a.link {
  position: absolute !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: 99 !important;
  color: transparent !important;
  background: transparent !important;
}


nav{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  padding: .75rem 0;
}
nav .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
 .navbar-brand{
  width: 180px;
 }
 
 #menuToggle
 {
   display: block;
   position: relative;
   z-index: 1; 
   -webkit-user-select: none;
   user-select: none;
   
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: var(--secon-color);
 }
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   right: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 26px;
   height: 3px;
   margin-bottom: 5px;
   position: relative;
   
   background: var(--secon-color);
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(1px, 1px);
   background: var(--secon-color);
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, 0px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 350px;
   margin: 10px 0;
   padding: 50px 30px;
   padding-top: 25px;
   left: calc(50% - 175px);
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   transform-origin: 0% 0%;
   transform: translate(0%, -150%);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
   background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 32px;
 }
 
 #menu li
 {
  padding: 14px 0;
  font-size: 20px;
  text-align: center;
  border-bottom: 2px dotted #e3e3e3;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }


 /* LANG */
 .switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}
.lang{
  color: var(--secon-color);
  font-weight: bold;
}

.switch > span {
  position: absolute;
  top: 14px;
  pointer-events: none;
  /* font-family: 'Helvetica', Arial, sans-serif; */
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: #F36F25;
}

input.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}

.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: #F36F25;
}

.switch > span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 16px;
  height: 30px;
  background-color: transparent;
  border: 2px solid  var(--secon-color);
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 4px;
  height: 4px;
  background-color: var(--secon-color);
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

/* input.check-toggle-round-flat:checked + label {
} */

input.check-toggle-round-flat:checked + label:after {
  margin-top: 14px;
} 


 /* video */
 .demo-video-wrapper {
  background: #00000080;
  height: 100vh;
}
/* Video overlay and content */
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  /* Allows right click menu on the video */
  background: #00000090;
  opacity: 0.3;
}
/* .video-hero--content {
  position: relative;
  color: #fff;
  margin: 150px 0;

} */


/* ======================== */


.icon-0 {
  width: 0.9em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}

.icon-1 {
  width: 0.51em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}

.icon-2 {
  width: 0.81em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}

.icon-behance {
  width: 1.57em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}

.icon-brutalism {
  width: 7.85em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}

.icon-codepen {
  width: 1em;
  height: 1em;
  fill: #fff;
  stroke: initial;
}

.icon-dribbble {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}

.icon-facebook {
  width: 0.56em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}

.icon-instagram {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}

.icon-op-pr {
  width: 1.31em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}

.icon-soulless {
  width: 7.08em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}

.icon-tumblr {
  width: 0.56em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}

.icon-twitter {
  width: 1.14em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}

/* COMPONENTS */
/* PAGES */
body {
  background-color: #ededed;
}

body, .content, .slides, .slide {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  cursor: none !important;
}

.preload {
  display: inline-block;
  position: absolute;
  width: 142px;
  height: 70px;
  top: calc(50% - 20px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 0;
  z-index: 10;
  pointer-events: none;
}

.preload__pillar {
  position: absolute;
  display: inline-block;
  width: 26px;
  height: 0;
  bottom: 0;
  background: #fff;
  overflow: hidden;
  z-index: 5;
}

.preload__pillar:nth-child(3) {
  width: 44px;
}

.preload__pillar:nth-child(1) {
  left: 0%;
}

.preload__pillar:nth-child(2) {
  left: 26px;
}

.preload__pillar:nth-child(3) {
  left: 52px;
}

.preload__pillar:nth-child(4) {
  left: 96px;
}

.preload__pillar:nth-child(5) {
  left: 122px;
}

.preload__pillar .preload__counter {
  z-index: 10;
  top: inherit;
  bottom: 22px;
}

.preload__counter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 12px;
  /* font-family: "montserrat-b", sans-serif; */
  font-weight: bold;
  z-index: 0;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  font-size: 0;
  z-index: 0;
  opacity: 0;
  background-size: 0;
}

.slide.active-slide {
  z-index: 10 !important;
  opacity: 1;
}

.slide.next {
  z-index: 5 !important;
  opacity: 1;
}

.slide.next .slide__slice {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

.slide.next .slide__num span {
  -webkit-transform: translateY(102%);
  -ms-transform: translateY(102%);
  transform: translateY(102%);
}

.slide.top .slide__slice, .slide.prev-555 .slide__slice {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.slide.top .slide__num span, .slide.prev-555 .slide__num span {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.slide.orig-scale .slide__slice-img {
  -webkit-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  transform: scale(1) !important;
}

.slide.light-slide .slide__num, .slide.light-slide .slide__num svg {
  color: #121212;
  fill: #121212;
}

.slide.dark-slide .slide__num, .slide.dark-slide .slide__num svg {
  color: #fff;
  fill: #fff;
}

.slide__slice {
  position: absolute;
  top: 0;
  display: inline-block;
  height: 100%;
  background: #000;
  width: calc(18.5vw + 1.2px);
  background-image: inherit;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

.slide__slice:nth-child(3) {
  width: calc(26vw + 1.2px);
}

.slide__slice:nth-child(1) {
  left: 0%;
}

.slide__slice:nth-child(1) .slide__slice-img {
  -webkit-transform: scale(1.2) translateY(-10px);
  -ms-transform: scale(1.2) translateY(-10px);
  transform: scale(1.2) translateY(-10px);
}

.slide__slice:nth-child(2) {
  left: 18.5vw;
}

.slide__slice:nth-child(2) .slide__slice-img {
  -webkit-transform: scale(1.16) translateY(20px);
  -ms-transform: scale(1.16) translateY(20px);
  transform: scale(1.16) translateY(20px);
}

.slide__slice:nth-child(3) {
  left: 37vw;
}

.slide__slice:nth-child(3) .slide__slice-img {
  -webkit-transform: scale(1.08) translateY(-20px);
  -ms-transform: scale(1.08) translateY(-20px);
  transform: scale(1.08) translateY(-20px);
}

.slide__slice:nth-child(4) {
  left: 63vw;
}

.slide__slice:nth-child(4) .slide__slice-img {
  -webkit-transform: scale(1.16) translateY(20px);
  -ms-transform: scale(1.16) translateY(20px);
  transform: scale(1.16) translateY(20px);
}

.slide__slice:nth-child(5) {
  left: 81.5vw;
}

.slide__slice:nth-child(5) .slide__slice-img {
  -webkit-transform: scale(1.2) translateY(-10px);
  -ms-transform: scale(1.2) translateY(-10px);
  transform: scale(1.2) translateY(-10px);
}

.slide__slice-img {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slide__num {
  pointer-events: none;
  position: absolute;
  height: 9vw;
  overflow: hidden;
  top: 10vh;
  right: 11vh;
  z-index: 10;
  color: #121212;
  font-size: 60px;
  /* font-family: "montserrat-bk", sans-serif; */
}

.slide:first-child .slide__num {
  display: none;
}

.slide__num span {
  display: inline-block;
  vertical-align: top;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  height: 100%;
}

/* .slide__num span:nth-child(2) {
  margin-left: -2.0vw;
} */

.dd {
  pointer-events: none;
  position: absolute;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 0;
  text-align: center;
  z-index: 10;
}

.dd.light-mode .dd__dot, .dd.light-mode .dd__circle {
  background: #fff;
  transition: background 0.5s ease !important;
}

.dd.light-mode .dd__text {
  color: #fff;
}

.dd.dark-mode .dd__dot, .dd.dark-mode .dd__circle {
  background: #121212;
  transition: background 0.5s ease !important;
}

.dd.dark-mode .dd__text {
  color: #121212;
}

.dd__hint {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  width: 40px;
  height: 76px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dd__hint.active .dd__dot {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.dd__hint.active .dd__circle {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.dd__hint.anim .dd__circle {
  transition: none;
}

.dd__dots {
  position: relative;
  display: inline-block;
  width: 1px;
  height: 54px;
  overflow: hidden;
}

.dd__dot {
  display: inline-block;
  width: 1px;
  height: 2px;
  background: #fff;
  opacity: 0;
  transition: background 0.5s, -webkit-transform 0.3s;
  transition: transform 0.3s, background 0.5s;
  transition: transform 0.3s, background 0.5s, -webkit-transform 0.3s;
  margin-top: 6px;
}

.dd__dot:nth-child(6) {
  -webkit-transform: translateY(18px);
  -ms-transform: translateY(18px);
  transform: translateY(18px);
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  transition-delay: .25s;
}

.dd__dot:nth-child(5) {
  -webkit-transform: translateY(26px);
  -ms-transform: translateY(26px);
  transform: translateY(26px);
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  transition-delay: .25s;
}

.dd__dot:nth-child(4) {
  -webkit-transform: translateY(34px);
  -ms-transform: translateY(34px);
  transform: translateY(34px);
  transition: -webkit-transform 0.6s ease-out;
  transition: transform 0.6s ease-out;
  transition: transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
  transition-delay: .25s;
}

.dd__dot:nth-child(3) {
  -webkit-transform: translateY(42px);
  -ms-transform: translateY(42px);
  transform: translateY(42px);
  transition: -webkit-transform 0.7s ease-out;
  transition: transform 0.7s ease-out;
  transition: transform 0.7s ease-out, -webkit-transform 0.7s ease-out;
  transition-delay: .25s;
}

.dd__dot:nth-child(2) {
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  transition: -webkit-transform 0.8s ease-out;
  transition: transform 0.8s ease-out;
  transition: transform 0.8s ease-out, -webkit-transform 0.8s ease-out;
  transition-delay: .25s;
}

.dd__dot:nth-child(1) {
  -webkit-transform: translateY(58px);
  -ms-transform: translateY(58px);
  transform: translateY(58px);
  transition: -webkit-transform 0.9s ease-out;
  transition: transform 0.9s ease-out;
  transition: transform 0.9s ease-out, -webkit-transform 0.9s ease-out;
  transition-delay: .25s;
}

.dd__dot + .dd__dot {
  margin-top: 6px;
}

.dd__circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  transition: opacity .3s ease, -webkit-transform .36s ease-out;
  transition: transform .36s ease-out, opacity .3s ease;
  transition: transform .36s ease-out, opacity .3s ease, -webkit-transform .36s ease-out;
}

.dd__text {
  margin-top: 18px;
  font-size: 12px;
  color: #fff;
  /* font-family: "montserrat-b", sans-serif; */
  text-align: center;
  display: block;
  overflow: hidden;
  line-height: 1;
  text-transform: uppercase;
  white-space: pre;
  opacity: 0;
  transition: color 0.5s;
}

.dd__text span {
  display: inline-block;
}

.dd__text span:nth-child(5) {
  width: 4px;
}

.dd__text span:nth-child(6), .dd__text span:nth-child(7) {
  width: 10px;
}

.dd__text span.hide {
  transition: width .6s, opacity .6s;
  width: 0;
  opacity: 0 !important;
}

.taglines {
  position: fixed;
  height: 8vw;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 10;
  text-align: center;
  pointer-events: none;
}

.tagline {
  display: inline-block;
  height: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 8vw;
  /* font-family: "montserrat-bk", sans-serif; */
  text-transform: uppercase;
  color: transparent;
  z-index: 0;
  opacity: 0;
  margin-left: -2px;
}

.tagline svg {
  fill-opacity: 0;
}

.tagline.light-mode .tagline__text, .tagline.light-mode .tagline__text svg {
  color: #fff;
  fill: #fff;
}

.tagline.dark-mode .tagline__text, .tagline.dark-mode .tagline__text svg {
  color: #121212;
  fill: #121212;
}

.tagline.active-slide {
  z-index: 10 !important;
  opacity: 1;
}

.tagline.next {
  z-index: 5 !important;
  opacity: 1;
}

.tagline.next .tagline__slice {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

.tagline__slice {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(14.2% + 2px);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  height: 100%;
  overflow: hidden;
}

.tagline__slice:nth-of-type(1) {
  left: calc(0% + 2px);
}

.tagline__slice:nth-of-type(1) .tagline__text {
  left: -0%;
}

.tagline__slice:nth-of-type(2) {
  left: calc(14.2% + 4px);
}

.tagline__slice:nth-of-type(2) .tagline__text {
  left: -100%;
}

.tagline__slice:nth-of-type(3) {
  left: calc(28.4% + 6px);
}

.tagline__slice:nth-of-type(3) .tagline__text {
  left: -200%;
}

.tagline__slice:nth-of-type(4) {
  left: calc(42.6% + 8px);
}

.tagline__slice:nth-of-type(4) .tagline__text {
  left: -300%;
}

.tagline__slice:nth-of-type(5) {
  left: calc(56.8% + 10px);
}

.tagline__slice:nth-of-type(5) .tagline__text {
  left: -400%;
}

.tagline__slice:nth-of-type(6) {
  left: calc(71% + 12px);
}

.tagline__slice:nth-of-type(6) .tagline__text {
  left: -500%;
}

.tagline__slice:nth-of-type(7) {
  left: calc(85.2% + 14px);
}

.tagline__slice:nth-of-type(7) .tagline__text {
  left: -600%;
}

.tagline__text, .tagline__text svg {
  display: inline-block;
  height: 100%;
  position: absolute;
  top: 0;
  color: #121212;
  fill: #121212;
  fill-opacity: 1;
}

.info__text, .i-card__title, .i-card__name {
  font-size: 12px;
  /* font-family: "montserrat-sb", sans-serif; */
  text-transform: uppercase;
}

.info {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  pointer-events: none;
}

.info.open-info {
  display: inline-block;
}

.info__aside {
  pointer-events: all;
  color: #fff;
  font-size: 0;
  position: absolute;
}

.info__aside.active {
  z-index: 10;
}

.info__aside.light-mode .info__slot {
  background: #fff;
}

.info__aside.light-mode .info__text {
  color: #121212;
}

.info__aside.light-mode .info__show-btn:before, .info__aside.light-mode .info__show-btn:after {
  background: #121212;
}

.info__aside.btn-open .info__slot {
  background: #fff;
  transition: background .6s .4s;
}

.info__aside.btn-open .info__text {
  color: #121212;
  transition: color .6s .4s;
}

.info__aside.btn-open .info__show-btn:before, .info__aside.btn-open .info__show-btn:after {
  background: #121212;
}

.info__aside.btn-open .info__show-btn:before {
  -webkit-transform: translateX(4px);
  -ms-transform: translateX(4px);
  transform: translateX(4px);
}

.info__aside.btn-open .info__show-btn:after {
  -webkit-transform: translateX(-4px);
  -ms-transform: translateX(-4px);
  transform: translateX(-4px);
}

.info__aside_lt {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: translate(130px, 0%) rotate(90deg);
  -ms-transform: translate(130px, 0%) rotate(90deg);
  transform: translate(130px, 0%) rotate(90deg);
  width: 214px;
  height: 130px;
  top: 0;
  left: 0;
}

.info__aside_rb {
  -webkit-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: translate(0, -170px) rotate(-90deg);
  -ms-transform: translate(0, -170px) rotate(-90deg);
  transform: translate(0, -170px) rotate(-90deg);
  width: 170px;
  height: 130px;
  right: 0;
  bottom: 0;
  z-index: 5;
  cursor: pointer;
}

.info__slot {
  padding-left: 30px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #121212;
  transition: background .6s .6s;
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}

.info__slot div {
  margin: auto 0;
}

.info__slot_bgg {
  height: 80px;
  width: 100%;
}

.info__slot_sml {
  height: 51px;
  width: 80px;
  margin-bottom: -1px;
}

/* .info__slot_sml div {
  margin: auto 0 0;
}

.info__text {
  transition: color .6s .6s;
} */
.info__slot div {
  margin: auto 0;
  margin-right: 25px;
}

.info__text {
  transition: color .6s .6s;
  font-size: 26px;
}

.info__show-btn {
  position: relative;
  display: inline-block;
  margin-left: 6px;
  height: 100%;
  width: 10px;
}

.info__show-btn:before, .info__show-btn:after {
  content: '';
  position: absolute;
  width: 2px;
  height: 10px;
  background: #fff;
  bottom: 0;
  transition: background .6s .6s, -webkit-transform .6s;
  transition: transform .6s, background .6s .6s;
  transition: transform .6s, background .6s .6s, -webkit-transform .6s;
}

.info__show-btn:before {
  left: 0;
}

.info__show-btn:after {
  right: 0;
  height: 14px;
}

.popup {
  position: relative;
  width: 100%;
  height: 100%;
}

.popup.open {
  pointer-events: all;
}

.popup__slice {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  margin-left: auto;
  background: #121212;
  height: 20%;
}

.popup__slice:nth-child(1) {
  width: 73%;
}

.popup__slice:nth-child(2) {
  width: 58%;
}

.popup__slice:nth-child(3) {
  width: 50%;
}

.popup__slice:nth-child(4) {
  width: 35%;
}

.popup__slice:nth-child(5) {
  width: 43%;
}

.info-cards {
  position: absolute;
  top: 0;
  right: 80px;
}

.i-card {
  margin-top: 80px;
  color: #fff;
  text-align: right;
}

.i-card__title, .i-card__name {
  display: block;
  overflow: hidden;
  line-height: 1;
  text-transform: uppercase;
  white-space: pre;
}

.i-card__title span, .i-card__name span {
  will-change: transform;
  display: inline-block;
}

.i-card__title {
  font-size: 10px;
}

.i-card__name {
  margin-top: 12px;
}

.i-card__links-w {
  display: block;
  margin-top: 30px;
  overflow: hidden;
}

.i-card__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-left: 12px;
}

.i-card__link:first-child {
  margin-left: 0;
}

.i-card__link svg {
  width: 21px;
  min-height: 16px;
}

.c-black {
  color: #121212;
}

.c-white {
  color: #fff;
}

.fade-out {
  opacity: 0;
  transition: opacity .2s;
}

.controls {
  position: absolute;
  bottom: 80px;
  left: 80px;
  width: 160px;
  height: 80px;
  font-size: 0;
  pointer-events: all;
}

.controls__item-w {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.controls__item-w:first-child {
  top: -40px;
}

.controls__item {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: #121212;
  transition: background .5s .1s;
}

.controls__item.active {
  z-index: 10;
}

.controls__item:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-135deg);
  -ms-transform: translate(-50%, -50%) rotate(-135deg);
  transform: translate(-50%, -50%) rotate(-135deg);
  width: 10px;
  height: 10px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-color: #fff;
  transition: border .5s .1s;
}

.controls__item_up {
  -webkit-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
}

.controls__item_dn {
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

.controls__item_dn:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.controls__item.ctrl-b {
  background: #121212;
}

.controls__item.ctrl-b:after {
  border-color: #fff;
}

.controls__item.ctrl-w {
  background: #fff;
}

.controls__item.ctrl-w:after {
  border-color: #121212;
}

.m-cursor-w {
  position: fixed;
  top: -10px;
  left: -10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  z-index: 10;
  pointer-events: none;
  -webkit-transform: translate(100px, 100px);
  -ms-transform: translate(100px, 100px);
  transform: translate(100px, 100px);
  transition: opacity .5s;
}

.m-cursor-w.hide {
  opacity: 0;
}

.m-cursor {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.m-cursor:before, .m-cursor:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 3px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  background: inherit;
  transition: width .4s, background .5s .1s, -webkit-transform 0s .2s;
  transition: width .4s, background .5s .1s, transform 0s .2s;
  transition: width .4s, background .5s .1s, transform 0s .2s, -webkit-transform 0s .2s;
  z-index: 0;
}

.m-cursor.close .m-cursor__dot, .m-cursor.active .m-cursor__dot {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

.m-cursor.close:before, .m-cursor.close:after {
  width: 31px;
  transition: width .4s .1s, background .5s .1s, -webkit-transform .6s .5s;
  transition: width .4s .1s, transform .6s .5s, background .5s .1s;
  transition: width .4s .1s, transform .6s .5s, background .5s .1s, -webkit-transform .6s .5s;
}

.m-cursor.close:before {
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
  -ms-transform: translate(-50%, -50%) rotate(135deg);
  transform: translate(-50%, -50%) rotate(135deg);
}

.m-cursor.close:after {
  -webkit-transform: translate(-50%, -50%) rotate(225deg);
  -ms-transform: translate(-50%, -50%) rotate(225deg);
  transform: translate(-50%, -50%) rotate(225deg);
}

.m-cursor.dark-mode .m-cursor__dot, .m-cursor.dark-mode:before, .m-cursor.dark-mode:after {
  background: #121212;
}

.m-cursor.light-mode .m-cursor__dot, .m-cursor.light-mode:before, .m-cursor.light-mode:after {
  background: #fff;
}

.m-cursor__dot {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  z-index: 1;
  transition: background .5s .1s, -webkit-transform .5s;
  transition: background .5s .1s, transform .5s;
  transition: background .5s .1s, transform .5s, -webkit-transform .5s;
}

.m-cursor-line {
  position: fixed;
  left: -1px;
  top: -1px;
  width: 2px;
  height: 0;
  background: #fff;
  z-index: 10;
  pointer-events: none;
}

.m-cursor-line.dark-mode {
  background: #121212;
}

.m-cursor-line.light-mode {
  background: #fff;
}

* {
  cursor: none !important;
}

.bg-slide-2 {
  background: url('../images/vid.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.bg-slide-1 {
  background: url('../images/slid3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


/* ======================== */

#scroll-top {
  position: fixed;
  bottom: 60px;
  color: transparent !important;
  background: transparent !important;
}
.about .about-content{
  padding-right: 8rem;
  display: flex;
    flex-direction: column;
    justify-content: center;
    color: #97A1AC;
}
.about h5{
  color: var(--main-color);
  font-weight: 600;
}
.about .about-content h3{
  color: var(--black);
}
.about .part-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 100%;

}
.about h3{
  color: var(--secon-color);
  font-size: 22px;
  font-weight: bold;
  margin: 1.5rem 0;
}
.about .list{
  display: flex;
  align-items: center;
  gap: 20px;
}
.about .list img{
  width: 100%;
}
.about .list .icon{
  background: #0050A3;
  width: 100px;
  height: 55px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .list:nth-child(2n) .icon{
  background: var(--secon-color);
}
.about .list .icon+ div h6{
  color: #2E2E2E;
  font-weight: bold;
  font-size: large;
  margin-bottom: 1rem;
}
.about .list .icon+ div p{
  letter-spacing: 0px;
  color: #7A7A7A;
  font-size: small;
}
.about .vid-wrapper{
  background: #FFF;
  box-shadow: 0px 2px 3px #00000001;
  border-radius: 26px;
  padding: 10px;
  height: 100%;
}
.about .vid-wrapper video{
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.about .plane_side{
  position: absolute;
    top: 85px;
    right: 65px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    transform: rotate(345deg);
}
.about .plane_side img{
  width: 110px;
  animation: zoomOut 1s alternate infinite;
}
@-webkit-keyframes zoomOut {
  0% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
  }
  100% {
    -webkit-transform: translate(100px);
    transform: translate(100px);
  }
}

/* start the best section */
.best {
  background-color: #efefef;
  color: #97A1AC;
}
.best .best-section {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 40px;

}
.best .best-paragraph{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.best .second-place .card-detail,
  .best .first-place .card-detail{
  position: absolute;
  top: 24px;
  right: 8%;
  width: 75%;
  text-align: center;
  background: hsla(0, 0%, 100%, 0.69);
  border-radius: 20px;
  height: 150px;
  display: grid;
  place-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
}
.best .second-place .card-detail .dayof,
.best .first-place  .card-detail .dayof{
  color: #6D6D6D;
}
.best .second-place .card-detail h4,
.best .first-place .card-detail h4{
  color: var(--main-color);
  font-weight: 600;
}
.best .second-place .card-detail p,
.best .first-place .card-detail p{
  color: var(--black);
}
.best .best-section h3{
  color: var(--black);
  font-weight: 600;
}
.best .best-section button {
  width: 55px;
  height: 55px;
  font-size: 14px;
  border-radius: 50%;
  color: #fff;
  background-color: #078998;
  border: none;
  text-align: center;
  transform: translate(-85px, -30px);
}
.best .best-section .places p{
  color: #078998;
}
.best .first-place img,
.best .second-place img{
  width: 90%;
}
.about .card-foot,
.best .card-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 15px;
}
.card-foot .btn-more {
  border-radius: 10px;
  padding-top: 10px;
  background-color: var(--main-color);
  color: #fff;
  width: 180px;
  height: 45px;
  overflow: hidden;
  background-position: 50% 50%;
  background-image: radial-gradient(#22aefb, #22aefb, #22aefb);
  background-repeat: no-repeat;
  transition: background-size 0.5s, color 0.5s;
  background-size: 0% 0%;
}
 .btn-more:hover {
  background-size: 100% 100%;
}

.articles h2 {
  padding: 40px 0;
  font-weight: 600;
}

.articles .card {
  border-radius: 25px;
  border: 0;
}

.articles .card .card-img-top {
  width: 100%;
  height: 250px;
  border-radius: 25px 25px 0 0;
}

.articles .card .card-body {
  background: #FCFCFC;
  color: #262626;
  font-size: 16px;
  border-radius: 0 0 25px 25px;
  padding-bottom: 30px;
}
.articles .card .card-body .card-text{
  -webkit-line-clamp: 2;
  line-height: 1.8;
}
.articles .card .card-body .card-title {
  font-weight: 600;
  padding: 15px 0;
  text-align: center;
}

.articles .card .card-body .card-text {
  border-top: 1px dashed rgba(67, 178, 84, 0.411);
  padding: 5px 10px;
  color: #262626;
  font-size: 17px;
}

.articles .card .card-body .link-more {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.articles .card .card-body .link-more p {
  font-size: 18px;
  color: #3A3C41;
  font-weight: 600;
}

.articles .card .card-body .link-more .bi {
  background: #fff;
  padding: 10px 12px;
  border-radius: 50%;
  box-shadow: 0px 0px 6px #00000029;
  margin-right: 10px;
  color: #518EF8;
  font-size: 20px;
}

.articles .card .card-body .link-more:hover .bi {
  -webkit-animation: floating .5s ease-out infinite alternate;
          animation: floating .5s ease-out infinite alternate;
}

@keyframes floating {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.rev-client .card {
  width: 95%;
  background-color: #fcfcfc;
  border: none;
  margin: auto;
  border-radius: 15px;
}
.rev-client h4{
  color: #078998;
  font-weight: 600;
}
.rev-client .for-client{
  font-size: 28px;
}
.rev-client .card .card-body {
  line-height: 2;
  padding: 40px;
}
.rev-client .card .card-body .Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  font-size: 30px;
}

.Stars::before {
  content: "★★★★★";
  background: linear-gradient(-90deg, #ff8c0b var(--percent), #E5E5E5 var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rev-client .card .card-body img{
  width: 50px;
  height: 50px ;
  margin: auto;
  border-radius: 50%;
}

.rev-client .owl-nav {
  position: absolute;
  top: 50%;
  display: flex !important;
  justify-content: space-between;
  width: 100%;
}

.rev-client .owl-carousel .owl-nav button.owl-next,.rev-client .owl-carousel .owl-nav button.owl-prev{
  font: inherit;
  width: 40px;
  height: 40px;
  line-height: 5px;
  border: 1px solid #CCCCCC;
  border-radius: 50%;
  font-size: 25px;
  color: #fff;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #7fa7d1;
}
.rev-client .owl-carousel .owl-nav button:hover{
  color: #fff !important;
  background-color: var(--main-color) !important;
}
.rev-client .owl-nav button.owl-prev {
 left: 10px;
}
.rev-client .owl-nav button.owl-next {
  right: 10px;
}

/* start Advertising section */

.Advertising-section {
  border-radius: 25px;
  height: 400px;
  min-height: 30vh;
  position: relative;
}
.Advertising-section img{
 height: 100%;
 object-fit: cover;
}
.Advertising .Advertisting-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 50%;
  border-radius: 20px;
  background:var(--main-color);
  display: grid;
  place-items: center;
  text-align: center;
  color: var(--white);
}
.Advertising .Advertisting-overlay h3{
  color: var(--white);

}
.Advertising .Advertisting-overlay p{
  line-height: 1.9;
  width: 60%;
}

/* end Advertising section */
@media (max-width: 1370px) {

}
@media (max-width: 1200px) {

}

@media (max-width: 992px) {
  .about .about-content{
    padding-right: 2rem;
    padding-left: 2rem;

  }
  .about .part-image {
    display: none;
}
  .best .best-section {

  flex-direction: column;


}
.best .first-place img, .best .second-place img {
  height: 250px;
}
}
@media (max-width: 767.9px) {

}
@media (max-width: 575.98px) {

}

.trends .container > h4{
  font-weight: bold;
  text-align: center;
}
.trends .container > p{
  color: #97A1AC;
  margin: 1rem 0;
  text-align: center;
}
.trends .trend{
  box-shadow: 0px 5px 15px #B7B7B71A;
  border-radius: 20px;
  margin-top: 1rem;
}
.trends .trend > img{
  border-radius: 20px;
  height: 260px;
  object-fit: cover;
}
.trend-body{
  padding: 2rem 1rem;
}
.trends .trend .trend-serv{
  background: #0050A330;
  border-radius: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: .5rem 1rem;
  color: var(--main-color);
  width: fit-content;
  margin: auto;
}
.trends .trend .trend-serv h6{
  font-size: small;
  font-weight: bold;
}
.trends .trend .trend-body> h6{
  font-weight: 500;
  font-size: large;
  text-align: center;
  margin-top: 1.5rem;
}
.trends .trend .trend-serv img{
  width: 25px;

}

.best-servs{
  text-align: center;
  position: relative;
}
.best-servs::after{
  content: "";
  background: url('../images/best-after.png');
  background-size: contain;
  position: absolute;
  width: 115px;
  height: 130px;
  top: -35px;
  transform: translateX(-50%);
  left: 1px;
}
.best-servs::before{
  content: "";
  background: url(../images/dotted.svg);
  background-size: contain;
  position: absolute;
  width: 88px;
  height: 100%;
  top: -35px;
  transform: translateX(50%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  right: 18px;
}

.best-servs h4{
  font-weight: bold;
  color: var(--main-color);
}
.best-servs p{
  color: #A4A4A4;
  width: 40%;
  margin: 1rem auto;
}
.best-serv{
  max-width: 150px;
  height: 100%;
}
.best-serv .serv-icon{
  margin: 2rem auto;
  transform: matrix(1, 0, 0, 1, 0, 0);
  width: 52px;
  height: 50px;
  background: #07899820;
  border-radius: 5px 10px 5px 18px;
  position: relative;
  transition: .4s;
}
.best-serv .serv-icon img{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -30%);
  transition: .4s;
}
.best-serv:hover .serv-icon{
  transform: rotatey(180deg);
  background-color: #0050A3;
}
.best-serv:hover img{
  left: 100%;
  transform:  translate(-150%, -30%);
}
.best-serv h6{
  font-weight: 500;
  font-size: large;
  line-height: 1.5;
}
.best-serv .serv-more {
  display: flex;
  align-items: end;
  justify-content: center;
  margin-top: 1.5rem;
  color: var(--main-color);
  opacity: 0;
  transition: .4s;
}
.best-serv:hover .serv-more{
  opacity: 1;
}
.services{
  background-color: #FBFBFB;
  padding: 3rem 0;
}
.services h4{
  font-weight: bold;
  text-align: center;
}
.services .container > p{
  color: #97A1AC;
  text-align: center;
  font-size: small;
  margin: 1rem 0;
}
.services .nav-pills .nav-link.active, .services .nav-pills .show>.nav-link {
  color: var(--main-color);
  background-color: transparent;
  /* border-bottom: 1px solid var(--main-color); */
  position: relative;
}
.services .nav-pills .nav-link::after{
  position: absolute;
  content: "";
  top: 100%;
  right: .5rem;
  width: 0%;
  height: 1px;
  background-color: var(--main-color);
  transition: .4s;
}
.services .nav-pills .nav-link.active::after{
  width: 50%;
}
.services .nav-pills .nav-link {
  background: 0 0;
  border: 0;
  padding: 0.6rem 1rem;
  font-size: 18px;
  color: #5A5A5A;
  margin: 0 .5rem;
  border-radius: 0;
  border-bottom: 3px solid transparent;
}
.services .service img{
  filter: brightness(0.7);
  border-radius: 20px;
  height: 260px;
  object-fit: cover;
}
.services .service{
  position: relative;
}
.services .service .serv-name{
  background: #fff;
  text-align: center;
  box-shadow: 0px 5px 15px #B7B7B71A;
  border-radius: 10px;
  color: #000;
  padding: 1rem 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50% , 50%);
  letter-spacing: 0px;
}
.blue-btn{
  background-color: var(--main-color);
  color: #fff;
  padding: .75rem 4rem;
  border-radius: 10px;
  margin-top: 4rem;
  display: inline-block;
}

/* partners */
.partners {
  background: #EFEFEF;
  padding: 4rem 0;
  text-align: center;
}
.partners h5{
  font-weight: bold;
  color: #0D5C06;
}
.partners p{
  font-size: 24px;
  margin: 1rem 0 3rem;
}
.partners .item{
  min-height: fit-content;
  max-height: 180px;
  height: 100%;
}
.partners .item img{
  width: 100%;
  height: 100%;
}
/* footer */
.send-email{
  position: relative;
  z-index: 3;
}
.send-email .container{
  background: var(--main-color);
  box-shadow: 0px 10px 20px #7B7B7B4D;
  width: 70%;
  margin: auto;
  border-radius: 20px;
  color: #fff;
  padding: 2.5rem 2rem;
  position: relative;
}
.send-data{
  text-align: center;
}
.send-data .form-control, .form-control:focus {
  padding: 0.75rem 1.5rem;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
}
.send-data button{
  color: #fff;
  background-color: var(--secon-color);
  border-radius: 10px;
  padding: .75rem 4rem;
}
.smile{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50% , -90%);
  background: var(--secon-color);
  box-shadow: 0px 11px 12px #00000012;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.smile2{
  top: 0%;
  right: 0;
  left: unset;
  transform: translate(50% , -50%);
  background-color: var(--main-color);
}
footer{
  position: relative;
}
footer::before{
  content: "";
  background: url('../images/dotted.svg');
  position: absolute;
  width: 143px;
  height: 100%;
  top: -156px;
  transform: translateX(50%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  right: 70px;
  z-index: 89;
}
footer::after{
  content: "";
  background: url('../images/dotted.svg');
  position: absolute;
  width: 143px;
  height: 100%;
  top: -156px;
  transform: rotateY(180deg) translateX(50%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  left: 70px;
  z-index: 89;
}

footer .footer-content {
  background: #fff;
  border-radius: 20px;
  padding: 4rem 2rem;
  margin-bottom: 1rem;
  position: relative;
  box-shadow: 0px 14px 30px #0000001A;
  margin-top: -5rem;
  padding-top: 8rem;
}
footer .footer-content img{
  width: 175px;
}
footer .footer-content h5{
  color: var(--secon-color);
  font-weight: bold;
}
footer .footer-content li{
  padding-top: 1.2rem;
}
footer .footer-content li a{
  color: #8f8f8f !important;
  font-weight: 500;
}
.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 24px;
  line-height: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.social-media .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0px;
  position: relative;
  border: 1px solid var(--main-color) ;
  color: var(--main-color) !important;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  font-size: 16px;
  opacity: 0.7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.copyrights a{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: .5rem 0;
}
.copyrights img{
  width: 120px;
}
.copyrights span{
  color: #747474;
  font-size: small;
}
.router-link {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
}